.header .container, .header {
	background: #666666;
	text-align: center;
}
.header h3 {
	color:#ffffff;
	
}

h3 {
    color: white;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    box-shadow: 10px 10px 5px grey;
    font-size: medium;
}

.content.container{
	padding-bottom:50px;
}
.header a {
	color:#ffffff;

}
.header a:hover {
	color:#cc0000;
}
p {
    font-family: 'Oswald', sans-serif;
    color: white;
	padding: 20px 0px;
    font-size: 15;
}
.active {
    background-color: red !important;
}
.logo{
    background: red;
    width: 90px;
    height: 80px;
    text-align: center;
	color: white;
    font-family: Arial, Helvetica, sans-serif;
	display: flex;
    align-content: flex-start;
	font-weight: 100;
}

ul.nav.nav-pills.pull-right {
	margin-top:10px;
}

.nav-pills.red>li.active>a, .nav-pills.red>li.active>a:focus, .nav-pills.red>li.active>a:hover {
	background-color: #cc0000;
}
body {
}
.container {
	padding: 0px 50px;
	background: #ffffff;

}
.footer {
	padding-top:30px;
	background: #333333;
	color:#ffffff;
}
td.column-1 {
	width: 75px;
	padding: 5px;
}
tr.even {
	background: #66ccff;
}

h1, h2, a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: 100;
}
h2{ 
    font-size: 13px;
}
.Container, .footer_container{
    background-color: black;
    display: flex;
    height: 80px;
    align-items: center;

}
.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 33%;
    align-items: center;
}
.red{
    background: red;
    width: 90px;
    height: 80px;
    text-align: center;
}
.content_container{
    background-color: black;
    
}

.jumbotron{
    color: red !important;
}

.animate {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchButton {
      background-color: red;
  }